<p id="notice"><%= notice %></p>

<h1>Listing Malezas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre comun</th>
      <th>Nombre cientifico</th>
      <th>Ciclo</th>
      <th>Crecimiento</th>
      <th>Espina</th>
      <th>Latex</th>
      <th>Tipo de tallo</th>
      <th>Peciolo</th>
      <th>Tipo de hoja</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @malezas.each do |maleza| %>
      <tr>
        <td><%= maleza.nombre_comun %></td>
        <td><%= maleza.nombre_cientifico %></td>
        <td><%= maleza.ciclo %></td>
        <td><%= maleza.crecimiento %></td>
        <td><%= maleza.espina %></td>
        <td><%= maleza.latex %></td>
        <td><%= maleza.tipo_de_tallo %></td>
        <td><%= maleza.peciolo %></td>
        <td><%= maleza.tipo_de_hoja %></td>
        <td><%= link_to 'Show', maleza %></td>
        <td><%= link_to 'Edit', edit_maleza_path(maleza) %></td>
        <td><%= link_to 'Destroy', maleza, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Maleza', new_maleza_path %>
