<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre comun:</strong>
  <%= @maleza.nombre_comun %>
</p>

<p>
  <strong>Nombre cientifico:</strong>
  <%= @maleza.nombre_cientifico %>
</p>

<p>
  <strong>Ciclo:</strong>
  <%= @maleza.ciclo %>
</p>

<p>
  <strong>Crecimiento:</strong>
  <%= @maleza.crecimiento %>
</p>

<p>
  <strong>Espina:</strong>
  <%= @maleza.espina %>
</p>

<p>
  <strong>Latex:</strong>
  <%= @maleza.latex %>
</p>

<p>
  <strong>Tipo de tallo:</strong>
  <%= @maleza.tipo_de_tallo %>
</p>

<p>
  <strong>Peciolo:</strong>
  <%= @maleza.peciolo %>
</p>

<p>
  <strong>Tipo de hoja:</strong>
  <%= @maleza.tipo_de_hoja %>
</p>

<%= link_to 'Edit', edit_maleza_path(@maleza) %> |
<%= link_to 'Back', malezas_path %>
